%h1 記録する

%table.table
  %tr
    %th 日付
    %th 体重
    %th コメント
    %th 目標まで

  - @records.reverse_each do |record|
    %tr
      %td=l record.target_date
      %td= show_weight record.weight
      %td= record.comment
      %td= "あと#{show_weight record.to_goal}kg"

= render 'form'
