= simple_form_for [:api, :v1, @record] do |f|
  = f.error_notification
  .form-inputs
    = hidden_field_tag :access_token, params[:access_token]
    = f.input :target_date, as: :string, label: '日付', input_html: {data: {role: :datebox, options: {mode: :datebox}}}
    = f.input :weight, label: '体重', input_html: {step:'0.1'}
    = f.input :comment, label: 'コメント(つぶやきます)'
  .form-actions
    = f.button :submit, '体重を記録する', class: 'btn btn-primary'
