- if record = user.records.find_by(target_date: date)
  - if current_user == user
    = link_to edit_record_url(record) do
      = show_weight record.to_goal
  - else
    = show_weight record.to_goal
  = render 'social/record_delta', delta: record.delta
- else
  - if date == Date.today
    - if current_user == user
      = link_to '登録', new_record_url(date: date)
    - else
      = link_to '煽る', "https://twitter.com/intent/tweet?text=@#{user.name} #{ERB::Util.url_encode('進捗どうですか？ #daitokaiet')} #{new_record_url}", target: '_blank'
