%h1 みんなの記録

%table.table.social
  %tr
    %th 日付
    - User.social_visible.order(:id).each do |user|
      %th
        = image_tag user.image_url, alt: user.name, class: 'user_icon'
        %p.arrow_box= user.name
  - (Date.today - 30.days..Date.today).reverse_each do |date|
    %tr
      %td= l date, format: :short
      - User.social_visible.order(:id).each do |user|
        - if record = user.records.find_by(target_date: date)
          %td= number_with_precision record.to_goal, precision: 1
        - else
          %td
            - if date == Date.today
              = link_to '煽る', "https://twitter.com/intent/tweet?text=@#{user.name} #{ERB::Util.url_encode('進捗どうですか？ #daitokaiet')} #{new_record_url}", target: '_blank'
