:ruby
  follow_users = current_user.follow_users
  duration = (Date.today - 30.days..Date.today)

%h1 みんなの記録
%ul.nav.nav-tabs
  %li.active= link_to 'Table', '#table', data: {toggle: 'tab'}
  %li= link_to 'Chart', '#gvChartDiv1', data: {toggle: 'tab'}

.tab-content
  #table.tab-pane.active
    %table#data_table.table.social.table-striped
      %thead
        %tr
          %th
          %th
            = render 'icon_and_name', user: current_user
          - current_user.follow_users.each do |user|
            %th
              = link_to "social/#{user.name}" do
                = render 'icon_and_name', user: user
      %tbody
        - duration.reverse_each do |date|
          %tr
            %td= l date, format: :short
            %td= render 'to_goal', user: current_user, date: date
            - follow_users.each do |user|
              %td= render 'to_goal', user: user, date: date

  #chart
    %table#chart-table
      %thead
        %tr
          %th
          - duration.each do |date|
            %th= l date, format: :short
      %tbody
        %tr
          %th= current_user.name
          - duration.each do |date|
            %td= render 'to_goal_for_chart', user: current_user, date: date
          - follow_users.sample(29).each do |user|
            %tr
              %th= user.name
              - duration.each do |date|
                %td= render 'to_goal_for_chart', user: user, date: date
