%h1
  = user_icon @user
  = @user.name
  - unless current_user.id == @user.id
    - if current_user.follow?(@user)
      = link_to 'フォローを外す', unfollow_path(id: @user.id), class: 'btn btn-danger', method: :post
    - else
      = link_to 'フォローする', follow_path(id: @user.id), class: 'btn btn-primary', method: :post

.row
  .col-md-8
    %table.table.social
      - (Date.today - 30.days..Date.today).reverse_each do |date|
        %tr
          %td= l date, format: :short
          - if record = @user.records.find_by(target_date: date)
            %td= number_with_precision record.to_goal, precision: 1
            %td= record.comment
          - else
            %td
              - if date == Date.today
                = link_to '煽る', "https://twitter.com/intent/tweet?text=@#{@user.name} #{ERB::Util.url_encode('進捗どうですか？ #daitokaiet')} #{new_record_url}", target: '_blank'
            %td
  .col-md-4.record
    %h3 登録日時
    %p= l @user.created_at
    %h3 記録回数
    %p= "#{@user.records.size}回"